.gris {
    display:flex;
 	background-color: grey;
    border: 1px solid black;
}
.jaune {
    display:flex;
	background-color: orange;
	border: 1px solid black;
}

.taille {
	height: 20vh ;
	overflow: hidden;
}

#main{
    position:fixed;
    top:calc(50vh - 250px);
    left:calc(15px + calc(50vw - 505px));
    display:flex;
    width:1010px;
    min-width:1010px;
    min-height:500px;
    border:1px solid black;
    z-index: 10;
    background-color: white;
}
.cross{
    position:absolute;
    top:10px;
    right:10px;
    width:20px;
    height:20px;
    background-color:rgba(0,0,0,0);
}
#closeMe{
    display:none;
}
#closeMe:checked ~ #main{
    display:none;
}
.pickCardsTitle{
    margin:0 5px;
}
.pickCardsParagraph{
    margin:0 5px;
    text-align:justify;
}
.carte{
    position:relative;
    width:calc(20vh - 4px);
    max-width:calc(20vh - 4px);
    min-width:calc(20vh - 4px);
    height:calc(20vh - 4px);
    background-color:black;
    margin:auto;
    border:1px solid black;
    border-radius:15px;
}
.caracteristique{
    position:absolute;
    color:white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    margin:0;
    z-index:10;
}
.portrait{
    position:absolute;
    top:0;
    left:26px;
    width:auto;
    height:calc(20vh - 6px);
    z-index:0;
}
.nom{
    left:5px;
    bottom:5px;
    font-size:19px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    margin:0;
}
.pouvoir, .force, .vitesse, .combat{
    width:20px;
    text-align:center;
}
.pouvoir{
    top:5px;
    right:15px;
}
.force{
    top:20px;
    right:5px;
}
.vitesse{
    top:35px;
    right:15px;
}
.combat{
    top:20px;
    right:25px;
}
.modal-body{
    text-align:justify;
}
.rejouer{
    position: absolute;
    bottom:10px;
    right:300px;
    padding-top:1px;
    padding-left:45px;
    font-size: 17px;
}
.j2{
    position:absolute;
    bottom:50px;
    right:300px;
    display:flex;
}
.j1{
    position:absolute;
    bottom:50px;
    left:300px;
    display:flex;
}
.regles{
    position: absolute;
    bottom:10px;
    left:300px;
}
.badge{
    margin:4px 1px auto 10px;
}